@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary-madani-dark: #0B2447;
  --color-primary-madani: #123C69;
  --color-secondary-alquds-dark: #8A8D91;
  --color-secondary-alquds: #B4B7BB;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
